<ion-view title="Cursos da Etec" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="cursosDaEtec-form5" class="list">
      <label class="item item-select" id="cursosDaEtec-select2">
        <span class="input-label">Cursos:</span>
        <select id="listaCursos" onchange = "tela(document.getElementById('listaCursos').value);">
          <option value="cursosPat">PAT</option>
          <option value="cursosEtec" selected>Etec Carmine</option>
        </select>
      </label>
    </form>
    <div>
      <img src="img/jTQvuJVbTBOJCF8gvTsE_LogoEtec-300x173.png" style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
        
      <div class="spacer" style="width: 300px; height: 42px;"></div>    
        
      <h3> Cursos técnicos gratuitos </h3>
      <p>Para o <strong>2º Semestre de 2017</strong>, a Etec estará oferecendo os seguintes cursos:</p>
            <ul class="list">
                <li class="item">Administração</li>
                <li class="item">Administração EaD (Ensino à Distância)</li>
                <li class="item">Comércio EaD (Ensino à Distância)</li>
                <li class="item">Enfermagem</li>
                <li class="item">Guia de Turismo</li>
                <li class="item">Informática</li>
                <li class="item">Logística</li>
                <li class="item">Secretariado EaD (Ensino à Distância)</li>
            </ul>
        
      <h3> Como estudar na Etec? </h3>  
        
        <p>O acesso à vagas de cursos Técnicos e Técnicos Integrado ao Ensino Médio ocorrem mediante a um processo seletivo denominado Vestibulinho. Para mais informações sobre o processo acesse o site 
            <a href="javascript:void(0);" onclick="navegador('http://www.vestibulinhoetec.com.br/')">
            http://www.vestibulinhoetec.com.br/</a>
      </p>
<p>
Fique sempre atento as nossas notícias para saber sobre datas de inscrições, valores, vagas, cursos e datas. 
        
        <a href="javascript:void(0)" onclick="navegador('http://www.vestibulinhoetec.com.br/')">
            Siga-nos no facebook.</a></p>
        
        <h3> Contato </h3>  
        <p>
            <strong>Horário de atendimento:</strong><br/>
            Seg – Sex: 08:00 – 22:00</p>
        <p>
            <strong>Telefone:</strong> (11) 4412.1470
        </p>

        <p>
            <strong>E-mail:</strong> e147dir@cps.sp.gov.br
       </p> 
        <p>
         <strong>Endereço:</strong> <br/>
            Av. Pref. Antônio Júlio de Toledo Garcia Lopes, 200 – Jd. Cerejeiras, 12954-270 Atibaia
        </p>


 
        
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        
        
    </div>


  </ion-content>
</ion-view>