<ion-view title="Notificações" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="notificaEs-button-bar5" class="button-bar">
      <a ui-sref="vagasDeEmpregoEmAtibaia" id="notificaEs-button23" class="button button-positive  button-block icon ion-ios-home"></a>
      <button id="notificaEs-button24" class="button button-stable  button-block icon ion-android-notifications"></button>
      <a ui-sref="sobre" id="notificaEs-button25" class="button button-positive  button-block icon ion-android-bulb"></a>
      <button id="notificaEs-button12" class="button button-positive  button-block icon ion-android-exit"  onclick="sair()"></button>
    </div>
    <form id="notificaEs-form2" class="list">
        <div class="spacer" style="width: 300px; height: 40px;"></div>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="notificaEs-toggle1">Ativar notificações</ion-toggle>
    
    <div id="notificaEs-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Receba notificações da Etec sobre novos cursos, vestibulinho e novos aplicativos sociais.</p>
    </div>
        </form>
      <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form id="notificaEs-form3" class="list">
      <ion-toggle toggle-class="toggle-positive" id="notificaEs-toggle2">Ativar Localização</ion-toggle>
      <div id="notificaEs-markdown8" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Permita nosso aplicativo saber a sua localização. Dessa forma podemos mapear o uso do aplicativo e promover ações em seu bairro.</p>
      </div>
    </form>
      
      <hr/>
      <p><strong>Privacidade:</strong> Os termos de uso do aplicativo Vagas Atibaia garante que nenhuma informação sua ou do seu dispositivo, será extraída ou divulgada. </p>
          
          
      </p>
  </ion-content>
</ion-view>