<ion-view title="Sobre" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="sobre-button-bar4" class="button-bar">
      <a ui-sref="vagasDeEmpregoEmAtibaia" id="sobre-button20" class="button button-positive  button-block icon ion-ios-home"></a>
      <a ui-sref="notificaEs" id="sobre-button21" class="button button-positive  button-block icon ion-android-notifications"></a>
      <a ui-sref="sobre" id="sobre-button22" class="button button-stable  button-block icon ion-android-bulb"></a>
      <button id="sobre-button11" class="button button-positive  button-block icon ion-android-exit"  onclick="sair()"></button>
    </div>
    <div id="sobre-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Versão do app:
        <strong>beta 0.5</strong>
      </p>
    </div>
    <h3 id="sobre-heading2" style="color:#000000;">Sobre as vagas anunciadas</h3>
    <div id="sobre-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Este app é apenas um agregador de links. As vagas apresentadas pelo aplicativo não são de responsabilidade de seu desenvolvedor. O usuário do aplicativo deve entrar em contato com os responsáveis da vaga.</p>
    </div>
    <h3 id="sobre-heading3" style="color:#000000;">Sobre o desenvolvedor</h3>
    <div id="sobre-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Este app foi desenvolvido pelo Prof.
       <a href="javascript:void(0)" onclick="navegador('https://www.linkedin.com/in/andersonoliv/')">
          <strong>Anderson L. Oliveira</strong></a>, docente do
        <strong>Curso Técnico em Informática</strong> na
        <strong>Etec Prof. Carmine Biagio Tundisi</strong> de Atibaia (Centro Paula Souza). Entre em contato com anderson.oliveira178@etec.sp.gov.br</p>
    </div>
    <h3 id="sobre-heading4" style="color:#000000;">Anúncios de vagas</h3>
    <div id="sobre-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Este app não cadastra vagas de emprego. Se você tem uma vaga para anunciar, procure o
        <strong>PAT - Posto de Atendimento ao trabalhador</strong>, ou, anuncie gratuitamente no site
        <strong>atibaia.com.br</strong>.</p>
    </div>
    <h3 id="sobre-heading5" style="color:#000000;">A Etec Carmine</h3>
    <div id="sobre-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A Escola Técnica
        <strong>Etec Prof Carmine Biagio Tundisi</strong> oferece
        <strong>cursos técnicos gratuitos</strong> para toda a comunidade. Os cursos são ofertados semestralmente, fique atento e venha estudar conosco!</p>
        
        
        <a href="javascript:void(0)" onclick="onclick=navegador('https://www.facebook.com/EtecCBT/');">
      <img src="img/ysuFJngSsCxxV0lYXwzr_fb-art.png" style="display: block; width: 50px; height: auto; margin-left: auto; margin-right: auto;" >
      </a>
        
    </div>
      
      <hr/>
      
      <h3 id="sobre-heading5" style="color:#000000;">Outros créditos</h3>
    <div id="sobre-markdown4" class="show-list-numbers-and-dots">
        <p>
            Foto da tela inicial: <strong>Hélio Matuo</strong>
            Foto original: 
            <a href="javascript:void(0)" onclick="navegador('https://invettor.com.br/projetos/CAF/img/SlideShow/003.jpg');">
            Clique para ampliar.
            </a>
        </p>        
        <p>
            <strong>ícones:</strong> ionicframework.com<br/>
            <strong>splash-screen:</strong> flaticon.com
        </p>
            

    </div>
      
      
    <div>
        <div class="spacer" style="height: 30px;"></div>
        
        
    </div>
    <div class="spacer" style="height: 50px;"></div>
  </ion-content>
</ion-view>