<ion-view title="Vagas do atibaia.com.br" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="vagasDoAtibaiaComBr-form6" class="list">
      <label class="item item-select" id="vagasDoAtibaiaComBr-select4">
        <span class="input-label">Vagas:</span>
        <select id="listaAtibaia" onchange = "tela(document.getElementById('listaAtibaia').value);">
          <option value="pat">PAT</option>
          <option value="atibaia" selected>atibaia.com.br</option>
          <option value="rmrh">RM Desenv. Corporativo</option>
        </select>
      </label>
    </form>
    <div>
      <img src="img/urS8EV1RQcu5sJmhIWf0_atibaia-com.jpg" style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
        
         <div align="center" id="loadAtibaia">
             <img src="./img/load.gif">
         </div>
        
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>      
      <div id="listaVagasAtibaia"></div> 
      
      
      
       <hr/>
      <h3> Como se candidatar nas vagas anunciadas no atibaia.com.br? </h3>          
          <p>
          O site atibaia.com.br não recebe candidaturas, o interessado nas vagas deve clicar no botão "Detalhes da vaga", anotar o telefone ou e-mail do responsável pelo anúncio e entrar em contato diretamente com ele.
              </p>      
      
  </ion-content>
</ion-view>