<ion-view title="Vagas do PAT" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="vagasDoPAT-form5" class="list">
      <label class="item item-select" id="vagasDoPAT-select2">
        <span class="input-label">Vagas:</span>
        <select id="listaPat" onchange = "tela(document.getElementById('listaPat').value);">
          <option value="pat" selected>PAT</option>
          <option value="atibaia">atibaia.com.br</option>
          <option value="rmrh">RM Desenv. Corporativo</option>
        </select>
      </label>
    </form>
    <div>
      <img src="img/JD4ji8DmRkmvNZ47LDSk_pea.png" style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
      <div align="center" id="loadPAT">
         <img src="./img/load.gif">
      </div>        
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <div id="listaVagasPAT"></div>
      
      <hr/>
      <h3> Como se candidatar nas vagas do PAT? </h3>
          
          <p>
          Para se candidatar a vaga, procure o Posto de Atendimento ao Trabalhador de Atibaia – PAT, que fica na Avenida da Saudade, n° 287 - Centro, em frente ao Paço Municipal.

O horário de atendimento é das 8h30 às 16h. Mais informações pelos telefones 4414-2072, 4414-2174 e 4402-3027.
              </p>
      
      
  </ion-content>
</ion-view>