<ion-view title="Vagas da RM Desenv. Corporativo" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="vagasDaRMDesenvEmRH-form7" class="list">
      <label class="item item-select" id="vagasDaRMDesenvEmRH-select5">
        <span class="input-label">Vagas:</span>
        <select id="lista" onchange = "tela(document.getElementById('lista').value);">
          <option value="pat">PAT</option>
          <option value="atibaia">atibaia.com.br</option>
          <option value="rmrh" selected>RM Desenv. Corporativo</option>
        </select>
      </label>
    </form>
    <div>
      <img src="./img/rmrh.png" style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
      
         <div align="center" id="loadRM">
               <img src="./img/load.gif">
         </div>
      
    <div class="spacer" style="width: 300px; height: 42px;"></div>         
    <div id="listaVagas"></div>
      
             <hr/>
      <h3> Como se candidatar nas vagas da RM Desenvolvimento Corporativo? </h3>          
          <p>
         Entre em contato pelo e-mail: comercial@rmcorporativo.com.br
         </p>     
      
      
  </ion-content>
</ion-view>